Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по правилам:

если источник traffic_source равен Yandex или Google, то в source_type ставится organic;
для источников paid и email из России ставим ad;
для источников paid и email не из России ставим other;
все остальные варианты берём из traffic_source без изменений.

In [2]:
import pandas as pb

In [6]:
log = pb.read_csv('/Users/sofagusina/Desktop/программирование/machine_learning/pandas/pandas_homework/hw3/доп_материалы_к_пандас_1_и_2/visit_log.csv',sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [12]:
log.loc[(log['traffic_source'] == 'yandex') | (log['traffic_source'] == 'google'),'source_type'] = 'organic'

log.loc[((log['traffic_source'] == 'paid') | (log['traffic_source'] == 'email')) & (log.region == 'Russia'),'source_type'] = 'ad'
log.loc[((log['traffic_source'] == 'paid') | (log['traffic_source'] == 'email')) & (log.region != 'Russia'),'source_type'] = 'other'

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,NaN
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,NaN
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,NaN
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,NaN

Задание 2
В файле URLs.txt содержатся URL страниц новостного сайта. Вам нужно отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри URL конструкцию: /, затем 8 цифр, затем дефис. Выполните действия:

Прочитайте содержимое файла с датафрейм.
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствие с заданным шаблоном.

In [32]:
url_text_data = pb.read_csv('/Users/sofagusina/Desktop/программирование/machine_learning/pandas/pandas_homework/hw3/доп_материалы_к_пандас_1_и_2/URLs.txt')
url_text_data.head(34)

url_text_data[url_text_data.url.str.contains(pat = '/[0-9-]')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

Задание 3
Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значениями столбца timestamp для данного значения userId.

In [72]:
data_rating = pb.read_csv('/Users/sofagusina/Desktop/программирование/machine_learning/pandas/pandas_homework/hw3/доп_материалы_к_пандас_1_и_2/ml-latest-small/ratings.csv')
data_rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [118]:
a = int(input('dhdhd'))
a2=+ a
a4 = a2+a2
a8 = a4+a4
a16 = a8+ a8
a24 = a16+a8
a28 = a24+a4
astr = str(a28)
if len(astr) > 1:
    x = int(astr[:-1] + '5')
else:
    x = 5
print (x)

3333